
.key-plate {
  border-radius: 10px;
  border: 1px solid #777;
  justify-content: center;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.key-plate-info {
  font-size: smaller;
  font-style: italic;
  color: #555;
}
