.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
	padding: 10px 0;
	background: #11111111;
  display: flex;
  text-align: center;
}

.footer__item {
  color: #777777;
  font-size: small;
  flex-grow: 1;
}
