.App {
  text-align: center;
}

.key-plate-outer {
  border-radius: 10px;
  border: 1px solid #777;
  position: relative;
  top: 30px;
  left: 30px;
}

.key-plate-inner {
  /* 부모 DIV 기준 가로,세로 중앙 정렬 */
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.key-switch {
  position: absolute;

  background: #eee;
  border-radius: 5px;
  border: 1px solid #777;
  opacity: 0.8;
}
